.container {
    display: flex;
    padding: 50px 100px;
    text-align: center;
    gap: 100px;
    flex-flow: wrap;
    justify-content: space-between;

}

.topics > h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.boxesInner {
    padding: 30px 20px;
    border-radius: 10px;
    border: solid #fff;
    border-width: 0px 3px 3px 3px;
    box-shadow: -1px 0px 10px 2px rgb(4 135 217 / 10%);
    cursor: pointer;
}

.boxesInner:hover {
    border: solid #0072bc;
    border-width: 0px 3px 3px 3px;
}

.boxes:hover {
    border-bottom: 2px solid #0072bc;
    margin-bottom: -10px;
    border-radius: 10px;
    background-repeat: no-repeat;

}

